<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @score.course_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @score.value %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
