<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @course.rate %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @course.semester %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @course.genre %>
</p>

<p>
  <strong>Mandatory:</strong>
  <%= @course.mandatory %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
